{% extends 'base.html.twig' %}

{% block head %}
	<title>Signaler un problème - ryokosan.com, Blog voyage d'un digital nomad</title>
	<link rel="canonical" href="https://www.ryokosan.com{{ path('report', { 'object': object }) }}">
	<meta name="description" content="Tu rencontres un problème, tu as vu une erreur ou une faute d'orthographe dans un article signale le nous, je suis sur le coup."/>
	<meta property="og:title" content="Signaler un problème - ryokosan.com, Blog voyage d'un digital nomad"/>
	<meta property="og:url" content="https://www.ryokosan.com{{ path('report', { 'object': object }) }}">
	<meta property="og:site_name" content="Ryokosan">
	<meta property="og:type" content="siteweb"/>
	<meta property="og:description" content="Tu rencontres un problème, tu as vu une erreur ou une faute d'orthographe dans un article signale le nous, je suis sur le coup."/>
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="column-twelve column-desktop-four">
				<h1 class="headline">Signaler un problème</h1>
				<p class="lead text-align-center">Si tu repères un problème je
										suis à l'écoute et sur le coup.</p>
				{{ form_start(reportForm) }}
				<div class="form-group">
					{{ form_row(reportForm.email) }}
				</div>
				<div class="form-group">
					{{ form_row(reportForm.category) }}
				</div>
				<div class="form-group">
					{{ form_row(reportForm.content) }}
				</div>
				<button class="button button-action form-group" type="submit">
					S'inscrire
				</button>
				{{ form_end(reportForm) }}
			</div>
		</div>
	</section>
{% endblock %}
